#score-board{
  position : absolute;
  right : 10px;
  top : 10px;
  color : #ffffff
}

#ceiling{
  position : absolute;
  background-color: #000000;
}

.controller{
  position : absolute;
  background-color: #ffffff;
  width : 40px;
  height : 40px;
  border-radius: 50%;
  
}